name: Java CI with Maven

on:
  push:
    tags:
      - 'v*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 16
        uses: actions/setup-java@v1
        with:
          java-version: '1.16'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn install
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: JukeboxMC ${{ github.ref }}
          draft: false
          prerelease: true
      - name: Upload JukeboxMC to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: target/JukeboxMC.jar
          asset_name: JukeboxMC.jar
          asset_content_type: application/java-archive